*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
gradle/
gradlew
gradlew.bat
local.properties
.classpath
.project
.idea/
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp

